# Ignore everything
*

# But not these files...
!.gitignore
!.gitmodules
!README.md
!.tmux.conf
!.zshrc
!.aliases.zsh

# Folders
!.config/
.config/*
!.config/nvim

# Ignore all files named .DS_Store or ending with .log
**/.DS_Store
**.log
